body {
    font-size: 18px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif
}

header, footer {
    background-color: rgb(83, 123, 197);
}

.site-title {
    color: rgb(83, 123, 197);
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.hobbie-list {
    list-style-type:square;
}

.hobbie-list li:nth-child(odd) {
    background-color:bisque;
}

nav ul{
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    background-color: bisque;
    border: 1px solid black;
}

nav ul a:hover {
    background-color: rgb(107, 201, 230);
}

footer h3 {
    color: bisque;
}